.hero {
  height: 100vh;
  background-color: #565da9;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5f1e6;
}

.title {
  font-size: 18rem;
  font-weight: 800;
   font-family: 'Fredoka One', sans-serif;
   

  letter-spacing: -20px;
}

.subtitle {
    font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 5px;
  margin-left: 500px;
}

/* Clouds */
.cloud {
  position: absolute;
  width: 400px;
}

.cloud-left {
  left: -80px;
  top: 50%;
}

.cloud-right {
  right: -100px;
  top: 20%;
}

/* Stars */
.star {
  position: absolute;
  width: 200px;
  height: auto;
}

.star-top {
  top: 120px;
  left: 150px;
}

.star-bottom {
  bottom: 120px;
  right: 300px;
}

