.navbar {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e6ddff;
  z-index: 10;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  font-weight: 600;
}

.login-btn {
  padding: 6px 18px;
  border-radius: 20px;
  border: none;
  background-color: #7ee0a1;
  cursor: pointer;
  font-weight: bold;
}
